* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(images/backgrounds/leaf.png);
    background-repeat: repeat;
    background-size: auto;
    font-family: "Meiryo", "Yu Gothic", Arial, Helvetica, sans-serif;
}

.sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-right: 5px ridge skyblue;

    background-image: url(images/backgrounds/momiji.png);
    background-repeat: auto;

    overflow-x: hidden;
}

.sidenav a {
    color: black;
    margin: 10px;
    padding: 10px;

    text-decoration: none;
    text-align: left;

    display: block;
}

.sidenav a:hover {
    color: darksalmon;
}

.content {
    margin-left: 200px;
    padding-left: 20px;
}

.content h1 {
    text-align: center;
}