body {
    background-color:lightpink;
    border-radius: 20px;
    margin: 30px 5% 30px 5%;
    border: 3px solid black;
    padding: 25px;
    font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

#button {
    transition-duration: 0.4s;
    margin: 2px;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.returnhome {
    background-color: lightgoldenrodyellow;
    border: 2px solid lightgoldenrodyellow;
    color: black;
}

.returnhome:hover {
    background-color: white;
    color: black;
}

.title_column {
    color:indigo;
    display: flex;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
}

.title_row {
    display: flex;
}

#title {
    text-align: center;
    font-size: 54px;
}

#logo {
    border: 5px solid black;
    border-radius: 10px;
    text-align: center;
    width: 200px;
}

@media screen and (max-width: 700px) {
    .title_column {
        float: center;
        width: 100%;
        margin: 0 auto;
    }

    .title_row {
        display: table;
        margin: 0 auto;
    }

    .title_row::after {
        content: "";
        clear: both;
        display: table;
    }

    #title {
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }

    #logo {
        text-align: center;
        margin: 0 auto;
        padding: 0 auto;
    }

}

#paragraph {
    text-indent: 40px;
}