* {
	box-sizing: border-box;
}

body {
	background-color: #fafad2;
	font-family: "Comic Sans MS", "Comic Sans", sans-serif;
}

.big_plane {
	background-color: #D2D2FA;
	border-radius: 20px;
	margin: 30px 5% 30px 5%;
	padding: 25px;
	box-shadow: 7px 7px;
}

.title {
	border-radius: 10px;
	padding: 10px;
	text-align: center;
	font-size: 32px;
	background-color: #D2FAE6;
	color: dodgerblue;
	box-shadow: 7px 7px black;

}

.leftcolumn {
	float: left;
	width: 66%;
}

.rightcolumn {
	float: right;
	width: 33%;
	padding-left: 20px;
}

.card {
	background-color: #FAD2E6;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 5px 5px;
}

h1, h2, h3, h5, #paragraph {
	margin: 7px;
	padding: 7px;
}

h2, h3, h5 {
	text-shadow: 1px 1px black;
}

h1 {
	font-size: 200%;
	text-shadow: 3px 3px black;
}

.titletext {
	font-size: 70%;
	color:khaki;
	text-shadow: 1px 1px black;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h5 {
	font-size: 100%;
}

#paragraph {
	font-size: 125%;
	text-indent: 40px;
}

li {
	font-size: 100%;
}

#button {
	transition-duration: 0.2s;
	margin: 5px 0px;
	padding: 15px;
    width: 100%;
	border-radius: 12px;
	text-align: center;
	text-decoration: none;
	display:inline-table;
	font-size: 150%;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 1000px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}
}

.intro, .disclaimer, .log {
	position: relative;
	left: 5%;
}

.intro {
	color:royalblue;
}

.disclaimer {
	color:tomato;
}

.log {
	color:olivedrab;
}

.weblink {
	color:cornflowerblue;
}

.socialmedia {
	color:yellowgreen;
}

.aboutme {
	background-color: lightpink;
	border: 5px solid lightpink;
	box-shadow: 3px 3px rgb(200, 150, 160);
	color: black;
}

.aboutme:hover {
	background-color: white;
	color: black;
	box-shadow: 0px 0px rgb(200, 150, 160);
	transform: translate(3px, 3px);
}

.bluesky {
	background-color: cornflowerblue;
	border: 5px solid cornflowerblue;
	box-shadow: 3px 3px rgb(80, 120, 200);
	color: white;
}

.bluesky:hover {
	background-color: white;
	box-shadow: 0px 0px rgb(80, 120, 200);
	color: black;
	transform: translate(3px, 3px);
}

.twitch {
	background-color: mediumslateblue;
	border: 5px solid mediumslateblue;
	box-shadow: 3px 3px rgb(100, 80, 200);
	color: white;
}

.twitch:hover {
	background-color: white;
	box-shadow: 0px 0px rgb(100, 80, 200);
	color: black;
	transform: translate(3px, 3px);
}

.github {
	background-color: black;
	border: 5px solid black;
	box-shadow: 3px 3px black;
	color: white;
}

.github:hover {
	background-color: white;
	box-shadow: 0px 0px black;
	color: black;
	transform: translate(3px, 3px);
}

.footer {
	background: #D2FAE6;
	padding: 10px;
	margin-top: 20px;
	border-radius: 10px;
	box-shadow: 7px 7px;
}

.footer-created {
	color: lightsalmon;
}

.footer-txt {
	font-size: 77%;
	text-indent: 40px;
}